{% extends 'templates/app.twig' %}

{% block title %}Signin page{% endblock %}

{% block nav %} {% include 'templates/partials/navigation.twig' %} {% endblock %}

{% block content %}

    <div class="uk-container uk-align-center uk-margin-top">

        <form action="{{ path_for('auth.signin') }}" method="post" autocomplete="off">

            <fieldset class="uk-fieldset">
                <legend class="uk-legend">Zaloguj się</legend>

                <div class="uk-margin">
                    <label for="email">Email</label>
                    <input class="uk-input {{ errors.email ? ' uk-form-danger' : '' }}" name="email" type="email" id="email" placeholder="Podaj swój email" {% if old.email %} value="{{ old.email }}  {% endif %}" required>
                    {% if errors.email %}
                        <span class="uk-text-danger">{{ errors.email | first }}</span>
                    {% endif %}
                </div>

                <div class="uk-margin">
                    <label for="password">Hasło</label>
                    <input class="uk-input {{ errors.password ? ' uk-form-danger' : '' }}" name="password" type="password" id="password" placeholder="Podaj swoje hasło" required>
                    {% if errors.password %}
                        <span class="uk-text-danger">{{ errors.password | first }}</span>
                    {% endif %}
                </div>

                <div class="uk-margin">
                    <button class="uk-button uk-button-primary" type="submit" id="submit">Zaloguj się</button>
                </div>
            </fieldset>

        </form>

        <div class="uk-card uk-card-small uk-card-body">
            <p>Nie posiadasz jeszcze konta? <a href="{{ path_for('auth.signup') }}">Załóż je teraz</a></p>
        </div>

    </div>

{% endblock %}